// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿エリア
.ask_top{
    text-align: center;
}

.ask_page{
    width:100%;
    text-align: center;
  }

ul{
    width:100%;
    padding-left:0px;
}

input[type="select"] {
    width: 100%;
    height: 40px;
}

input[type="file"] {
    width: 100%;
    height: 40px;
    display: flex;
}
input[type="submit"] {
    width: 200px;
    height: 40px;
    border:none;
}
button.btn.btn-default.btn-s-md {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: -34px;
}

form#question_search {
    text-align: center;
}
i.fa.fa-search {
    color: white;
}
// .questionlist{
//     // margin-right:0 20% 0 20%;
//     padding-left: 30%;
//     padding-right: 30%;
//     text-align:start;
// }
// ------------------------

h2{
    text-align: center;
}
